body {
    background: rgb(163, 163, 163);
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 60px;
}

h1 {
    color: rgb(252, 250, 2);
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: rgb(252, 250, 2);
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    margin-left: 60px;
}

p {
    font-size: 20px;
}

.img_padrao {
    margin-bottom: -20px;
    margin-top: 30px;
    width: 400px;
}

.logo{
    width: 100px;
}